<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>java_myMvc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
		<servlet-name>up</servlet-name>
		<servlet-class>com.lanou.test.FileUp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>up</servlet-name>
		<url-pattern>/up</url-pattern>
	</servlet-mapping>
   
  <servlet>
		<servlet-name>down</servlet-name>
		<servlet-class>com.lanou.test.FileDown</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>down</servlet-name>
		<url-pattern>/down</url-pattern>
	</servlet-mapping>
  
    <servlet>
		<servlet-name>image</servlet-name>
		<servlet-class>com.lanou.test.PrintImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>image</servlet-name>
		<url-pattern>/image</url-pattern>
	</servlet-mapping>
  
  
  
</web-app>